@font-face {
  font-family: "SF Pro";
  src: url("/static/InterVar.ttf") format("truetype");
}
@font-face {
  font-family: "emoji";
  src: url("/static/emoji.ttf") format("truetype");
}
:root{
   --bg-blurred:transparent;
   --bg-blur-unsupported:white;
   --bg-secondary-el:#d8d8d8;
   --bg-main:white;
   --color-opp:rgb(0, 0, 0);
   --el-search:white;
   --bg-bubble-main:#218aff;
   --sk-shadow1-r:#000;
   --el-popup:#e8e8e8;
   --liquid-in:#ffffff2b;
   --bg-el-li:#fff;
   --sk-bg-sent:#86b8fd;
   --bg-el-op:#fff;
   --light-el-bg:#f0f0f0;
   --bg-headr-el-shadow:#fff;
   --sys-d-radius:19px;
   --inset-shadow-li:#333;
   --slider-liquid:inset 1px -1px 1px #009fff6b,inset -1px 0px 1px #f0f8ff4d,0px 0px 20px #5d63792e;
   --slider-backdrop:blur(3px) brightness(1.1);
   --liquid-var-bor:3px 2px 2px -3px rgb(255, 255, 255) inset, -2px -2px 3px -3px rgb(255, 255, 255) inset, 0px 0px 15px rgba(0, 0, 0, 0.18);
  }
:root[dark=true]{
   --bg-blurred:#ffffff08;
   --bg-blur-unsupported:#141414;
   --bg-secondary-el:#151515;
   --el-search:#151515;
   --sk-bg-sent:#004099;
   --bg-main:rgb(0, 0, 0);
   --color-opp:rgb(255, 255, 255);
   --sk-shadow1-r:#5e5e5e;
   --el-popup:#0b0b0b;
   --bg-bubble-main:#27aeff;
   --slider-backdrop:blur(3px) brightness(2.5);
   --slider-liquid:inset 1px -1px 1px #1aa9ff8a,inset -1px 0px 1px #f0f8ff4d;
   --bg-el-li:#eeeded;
   --light-el-bg:#202020;
   --inset-shadow-li:#000000;
   --liquid-in:#4444442b;
   --bg-el-li:#ffffff1f;
   --bg-headr-el-shadow:transparent;
   --liquid-var-bos:3px 2px 2px -3px rgba(255, 255, 255, 0.37) inset, -2px -2px 3px -3px rgba(255, 255, 255, 0.47) inset, 0px 0px 15px rgba(0, 0, 0, 0.18);
}
:root[ios='26']{
  --bubble-glass:3px 2px 2px -3px rgb(193, 193, 193) inset, -2px -2px 3px -3px rgb(221, 221, 221) inset, 0px 0px 15px rgba(0, 0, 0, 0);
  --opp-glass:2px 2px 2px -3px rgba(255, 255, 255, 0.65) inset, -2px -2px 2px -3px rgba(115, 111, 111, 0.61) inset, 0px 0px 15px rgba(0, 0, 0, 0);
  --liquid-backdrop:none;
  --search-glass:2px 2px 2px -3px rgba(140, 140, 140, 0.65) inset, -2px -2px 2px -3px rgba(0, 0, 0, 0.61) inset, 0px 0px 15px rgba(11, 11, 11, 0.21);
  --search-border:#33333300;
  --searchbar-bg:linear-gradient(0deg,var(--bg-main),transparent);
  --header-bg:linear-gradient(180deg,var(--bg-main),transparent);
  --sk-glass:0;
  --search-in-bg: var(--liquid-in) !important;
  --op-bg-b: transparent;
  --send-button:var(--bg-bubble-main);
  --slider-liquid-app:var(--slider-liquid);
  --slider-unsupported:var(--bg-blur-unsupported);
   --recieve-button:var(--bg-secondary-el);
   --bg-el-li:#eeeded;
   --sk-hover-def:none;
   --io-el-bg:#0089ff;
   --slider-approved:var(--slider-backdrop);
   --slider-thumb-before:white;
   --liquid-asp:30px;
  --slider-bg: rgba(255, 255, 255, 0.1);
   --liquid-org:blur(5px);
   --send-bubble:var(--bg-bubble-main);
  --liquid-border:3px 2px 2px -3px rgba(255, 255, 255, 0.37) inset, -2px -2px 3px -3px rgba(255, 255, 255, 0.47) inset, 0px 0px 15px rgba(0, 0, 0, 0.18);
}
:root[ios="16"]{
  --bubble-glass:none;
  --liquid-backdrop:blur(25px);
  --search-border:#8080803d;
  --opp-glass:none;
   --send-bubble:var(--bg-bubble-main);
  --send-button:var(--bg-bubble-main);
   --recieve-button:var(--bg-secondary-el);
  --slider-unsupported:var(--bg-secondary-el);
   --el-search:#15151525;
  --sk-glass:0;
  --slider-liquid-app:0px 0px 10px #0000001a;
   --slider-approved:var(--slider-backdrop);
  --search-in-bg: var(--liquid-in);
   --sk-hover-def:none;
   --liquid-asp:22px;
  --op-bg-b:var(--light-el-bg);
   --io-el-bg:#0089ff;
  --search-glass:none;
  --searchbar-bg:var(--bg-blur-unsupported);
   --liquid-org:blur(0px);
   --sk-shadow1:none;
   --slider-thumb-before:white;
  --liquid-border:none;
  --slider-bg: rgb(255, 255, 255);
}
:root[ios="6"]{
  --send-button:linear-gradient(0deg,#1233d3,#5281f2);
   --recieve-button:linear-gradient(0deg,var(--bg-main),var(--bg-secondary-el));
   --send-bubble:var(--sk-bg-sent);
  --search-glass:inset 0px 1px 4px var(--inset-shadow-li);
  --bubble-glass:inset 0px -1px 7px white;
   --el-popup:linear-gradient(180deg,#8a94a1,#445e85) !important;
   --liquid-asp:22px;
  --op-bg-b:transparent;
  --liquid-border:inset 0px 1px 2px #000, 0px 0.2px 1px #d5d5d594 !important;
  --header-bg:linear-gradient(180deg,#8a94a1,#445e85) ;
  --searchbar-bg:linear-gradient(0deg,var(--bg-secondary-el),var(--light-el-bg));
   --io-el-bg:#1d40d8;
   --slider-approved:none;
  --slider-bg: conic-gradient( #d7d7d7, #c3c3c3, #ccc, #c6c6c6, #d3d3d3, #d8d8d8, #d5d5d5, #d8d8d8, #d3d3d3, #c5c5c5, #c0c0c0, #bfbfbf, #d0d0d0, #d9d9d9, #d1d1d1, #c5c5c5, #c8c8c8, #d7d7d7, #d5d5d5, #cdcdcd, #c4c4c4, #d9d9d9, #cecece, #c5c5c5, #c5c5c5, #cdcdcd, #d8d8d8, #d9d9d9, #d7d7d7) content-box, linear-gradient(#d4d4d4, #d4d4d4);
  --sk-glass:0.5;
    --slider-unsupported:var(--slider-bg);
   --slider-thumb-before:var(--slider-bg);
  --slider-liquid-app:0px 0px 10px #00000073;
   --sk-hover-def:inset 0px 1px 0px #333, 0px 0.2px 1px #00000080 ;
  --sk-shadow1:drop-shadow(0px 0px 1px var(--sk-shadow1-r));
}
[type=range]::-webkit-slider-thumb{
 -webkit-appearance: none;
 appearance: none;
 background-color: transparent;
  height: 22px;
  transition: 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
  width: var(--liquid-asp);
 background: var(--bg-blur-unsupported);
 border-radius: 50px;
 box-shadow: 0px 0px 10px #00000021;
 margin-top:-5px;
}
[type=range]::-moz-range-thumb{
 background: var(--bg-blur-unsupported);
  height: 22px;
  transition: 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
  width: var(--liquid-asp);
 border: none;
 display: block;
 box-shadow: 0px 0px 10px #00000021;
 transform-origin: center;
 border-radius: 50px;
}
[type=range]{
  height: 20px;
  -moz-appearance: none;
  margin-bottom: 20px;
}
[type=range]::-ms-thumb{
  background: var(--bg-blur-unsupported);
  height: 22px;
  transition: 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
  transform: scale(1.4);
  width: var(--liquid-asp);
  border-radius: 50px;
}
[type=range]:active::-webkit-slider-thumb,
[type=range]:active::-moz-range-thumb{
  transform: scale(1.4);
}
[type=range]::-moz-range-progress{
  height: 6px;
  border-radius: 50px;
  background-color: var(--io-el-bg);
}
[type=range]::-moz-range-track,
[type=range]::-webkit-slider-runnable-track{
  background: rgb(255, 255, 255);
  height: 6px;
  border: none;
  border-radius: 50px;
  color: transparent;
}

[mine="yesvro"] {
  background: var(--send-bubble);
  position: relative;
  word-break: break-all;
  max-width: 90%;
  margin: 0;
  margin-right: 10px !important;
  padding: 5px 10px;
  padding: 5px 10px;
  border-radius: var(--sys-d-radius);
  color: aliceblue;
  animation: slide-in-a 0.3s 1;
}
[mine="yesvro"]::after {
  content: '';
  width: 70%;
  position: absolute;
  height: 50%;
  background: linear-gradient(0deg,transparent,white);
  left: 50%;
  top: 0;
  border-radius: 50px;
  opacity: var(--sk-glass);
  transform: translate(-50%,1px);
}
[mine="yesvro"]::before {
  content: '';
  mask: url('bubble-in.svg') no-repeat;
  -webkit-mask: url('bubble-in.svg') no-repeat;
  background: var(--send-bubble);
  height: 10px;
  width: 10px;
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(0px,4px) scaleX(-1) rotate(15deg);
  animation: slide-bubble-in 0.3s 100ms forwards;
}
[def=icio]{
  width:63px;
  border-radius: 15px;
}
@keyframes slide-bubble-in{
  from{
    transform:  translate(-5px,4px) scaleX(-1) rotate(0deg);
  }
  to{
    transform:  translate(-1px,3px) scaleX(-1) rotate(15deg);
  }
}
[def="button"] {
  width: 30px;
  height: 30px;
  font-size: 19px;
  color: var(--color-opp);
  cursor: pointer;
  font-weight: 100;
  border-radius: 50px;
  border: none;
  background:var(--bg-blur-unsupported);
  box-shadow: var(--liquid-border);
}
preview p {
  font-size: 15px !important;
  width: fit-content;
  font-weight: 400 !important;
}
preview {
  display: flex;
  flex-direction: column;
  gap: 1px;
  align-content: flex-end;
  justify-content: flex-end;
  position: relative;
}
[def="button"]:hover{
  box-shadow: var(--sk-hover-def);
}
[action="showset"]{
  right: 0;
  margin-right: 15px;
  position: fixed;
}
header *{
  align-self: center;
}
header{
  position: fixed;
  height: 50px;
  width: 100%;
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);
  top: 0;
  left: 0;
  display: flex;
  align-content: center;
  z-index: +99;
  background: var(--bg-blur-unsupported);
}
@keyframes slide-in-a{
    from{
        transform: translateX(20px) scale(0.8);
        filter: none;
        opacity: 0;
    }
    50%{
        transform: translateX(-10px) scale(1.05);
      opacity: 1;
     filter: brightness(1.4) contrast(1.1);
    }
    to{
        transform: translateX(0px) scale(1);
        opacity: 1;
        filter: none;
    }
}
@keyframes slide-in-b{
    from{
        transform: translateX(-20px) scale(0.8);
        opacity: 0;
        filter: none;
    }
    50%{
      transform: translateX(10px) scale(1.05);
       filter: brightness(1.1) contrast(1.02); 
    }
    to{
        transform: translateX(0px) scale(1);
        opacity: 1;
        filter: none;
    }
}
[mine="fuhnaw"]{
      background: var(--recieve-button);
    color: var(--color-opp);
  animation: slide-in-b 0.3s 1;
  position: relative;
  word-break: break-all;
  margin: 0;
  margin-right: 10px !important;
  padding: 5px 10px;
  max-width: 90%;
  border-radius: 23px;
  filter: var(--sk-shadow1);
}
[mine="fuhnaw"]::after {
	content: '';
	width: 70%;
	position: absolute;
	height: 50%;
	background: linear-gradient(0deg,transparent,white);
	left: 50%;
	top: 0;
	border-radius: 50px;
	  opacity: var(--sk-glass);
	transform: translate(-50%,1px);
}
[mine="fuhnaw"]::before {
content: '';
  mask: url('bubble-in.svg') no-repeat;
  -webkit-mask: url('bubble-in.svg') no-repeat;
  background: var(--bg-secondary-el);
  height: 10px;
  width: 10px;
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  transform: translateY(5px);
}

[bubble="cover"]{
    width:100%;
    display: flex;
    align-items: center;
    position: relative;
    margin: 11px 0px 2px 0px;
    height: fit-content;
}
[mine=yescover]{
  justify-content: flex-end;
}
[mine=nocover]{
  justify-content: flex-start;
}
[tromoSM="fixed-b-row"]{
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
    left: 0;
  backdrop-filter:var(--liquid-backdrop);
  background:var(--searchbar-bg);
  -webkit-backdrop-filter:var(--liquid-backdrop);
    z-index: +9;
}
[oc=p]{
    width: fit-content;
  border: 1px solid var(--search-border);
  border-radius: 50px;
  padding: 3px;
  background-color: var(--search-in-bg);
  display: flex;
  align-items: center;
  backdrop-filter: var(--liquid-org);
  -webkit-backdrop-filter: var(--liquid-org);
  box-shadow: var(--search-glass);
}
input:focus {
  outline: none;
  border: none;
}
[main="button"]{
    width: 22px;
    border-radius: 50px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border: none;
    padding: 5px;
    background:var(--send-button);
}
[main="button"] svg{
    width: 15px;
    fill: white;
    stroke-width: 6px;
    stroke: white;
    
}
input {
  border: none;
  caret-color: #218aff;
  background-color: transparent;
  width: 300px;
  padding-left: 5px;
  border-radius: 50px;
  color: var(--color-opp);
}
popup-window {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: +99;
  left: 0;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  display: none;
  justify-content: center;
  animation: open-popup 0.3s;
  align-content: center;
}
@keyframes open-popup{
  from{
    -webkit-backdrop-filter: blur(0px);
    backdrop-filter: blur(0px);
  }
  to{
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
  }
}
choose svg {
  width: 50px;
  stroke: var(--color-opp);
  fill: var(--color-opp);
  stroke-width: 3px;
}
choose {
  width: 50px;
  position: relative;
  height: 50px;
  z-index: +2;
  cursor: pointer;
  display: flex;
  box-shadow: var(--liquid-border);
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 15px;
  border: 1px solid #3333334f;
}
option-wrp {
  display: flex;
  width: fit-content;
  background: #0000;
  justify-content: center;
  align-content: center;
  margin-left: 20px;
  border-radius: 15px;
  gap: 5px;
}
@keyframes open-wrp{
  from{
    transform: scale(0.8);
  }
  to{
    transform: scale(1);
  }
}
[selected=app]{
  background: #4f4f4f38 !important;
}
transparent-closer{
  background: #f000;
  width: 100%;
  position: fixed;
  height: 100%;
  z-index: -1;
}
choose:hover::before {
  opacity: 1;
  scale: 1;
}
choose::before {
  width: 100%;
  height: 100%;
  position: absolute;
  background: #33333336;
  content: '';
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 15px;
  transition: 0.3s;
  scale: 0.9;
  opacity: 0;}

window-inside {
	width: 50%;
	background: var(--el-popup);
	height: 70%;
	position: static;
	align-self: center;
  overflow-y: scroll;
  scrollbar-width: none;
  opacity: 0;
  animation: open-wrp 0.2s 100ms forwards;
  padding: 10px 15px;
	border-radius: 30px;
}

@keyframes open-wrp{
  from{
    transform: scale(0.9);
    opacity: 0;
  }
  to{
    transform: scale(1);
    opacity: 1;
  }
}
window-inside p {
  font-size: 30px;
  padding: 0;
  margin: 20px 0px;
  color: var(--color-opp);
  font-weight: bolder;
}
#chat{
    scroll-behavior: smooth;
    margin-bottom: 50px;
    margin-top: 60px;
}
[tag="user"] {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 9px;
  padding: 0;
  margin: 0;
  color: var(--color-opp);
  transform: translate(0px,-12px);
  opacity: 0.5;
  animation: scale-in 0.3s 1;
}
@keyframes scale-in{
  from{
   transform: translate(0px,-12px) scale(0.8);
  }
  50%{   transform: translate(5px,-12px) scale(1.1);
}
  to{
      transform: translate(0px,-12px) scale(1);
  }
}
[setmarg='02']{
  margin: 2px 0px;
}
*{
    font-family: SF Pro;
}
html,body{
  scrollbar-width: thin;
  overflow-x: hidden;
  background-color: var(--bg-main);
}
