@supports ((backdrop-filter: blur(10px)) or (-webkit-backdrop-filter: blur(10px))) {
   [tromoSM="fixed-b-row"],header{
            background: var(--searchbar-bg);
             backdrop-filter:var(--liquid-backdrop);
            -webkit-backdrop-filter: var(--liquid-backdrop);
    }
    [tromoSM="fixed-b-row"]{
            background: var(--searchbar-bg);
    }
    header{
            background: var(--header-bg);
    }
    [oc=p]{
  backdrop-filter: var(--liquid-org);
  -webkit-backdrop-filter: var(--liquid-org);
    }
    [def="button"]{
  backdrop-filter: var(--liquid-org);
  -webkit-backdrop-filter: var(--liquid-org);      
  background-color: var(--op-bg-b);  
    }
}

@media (max-width:568px){
[mine="yesvro"],[mine=fuhnaw]{
    max-width: 80%;
}
}
@media (max-width:428px){
input{
    width: 87vw;
    height: 35px;
    font-size: large;
}
html,body{
    margin: 0;
    padding: 0;
    width: 100%;
}
[main="button"]{
    width: 35px;
    height: 35px;
}
window-inside{
    width: 80%;
  height: 90%;
}
#chat {
  margin-bottom: 80px;
  padding-left: 10px;
}
}
@media (max-width:408px){
input{
    width: 81vw;
    height: 35px;
}
}
@media (max-width:306px){
input{
    width: 77vw;
    height: 35px;
}
}
@media (max-width:226px){
input{
    width: 70vw;
    height: 35px;
}
}
